.gradle
.kotlin
.idea
*.iml
.DS_Store
/local.properties
/.idea
/build
/captures
/composeApp/build
/server/build
/shared/build
/iosApp/Pods
/iosApp/build
xcuserdata/
*.xcworkspace
Podfile.lock
movi-data/
